@inject LocalizationService LocalizationService
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavManager

<div class="flex shrink-0 justify-between items-center w-screen h-12  border-b border-lightgray max-w-[480px]">
    <div class="flex-1 ml-4">
        
    </div>

    <div class="flex-1 flex justify-center headerTitle">
        <p class="text-3xl font-bold">WORDTRICK</p>
    </div>

    <div class="flex-1 flex justify-end mr-4 mt-0.5">
        <img class="cursor-pointer w-[21px] h-[14px] mt-[3px]" src="@GetCurrentLanguageFlagPath()" alt="Language selector" title="@LocalizationService["HeaderChangeLanguage"]" @onclick="ChangeLanguage">
    </div>
</div>