@page "/"

@inject GameManagerService GameManagerService
@inject LocalizationService LocalizationService

<PageTitle>WordTrick</PageTitle>

<html>
    
   <body>

        <input class="dark-light" type="checkbox" id="dark-light" name="dark-light"/>
        <label for="dark-light"/>
        
        
        <div class="light-back">

            <div class="flex flex-col justify-between items-center h-full w-full outline-0" @ref="_mainDiv" tabindex="0" @onkeydown="KeyDown">
                <HeaderBar AncestorComponent="this" />

                <ToastNotification />

                <GameBoard AncestorComponent="this" @ref="_gameBoard" />

                @if (_showStats)
                {
                    <Modal Title="@LocalizationService["StatsTitle"]" OnCloseCallback="@CloseStats">
                        <StatsDialog />
                    </Modal>
                }
            </div>
        </div>

        <div class="flex flex-col justify-between items-center h-full w-full outline-0" @ref="_mainDiv" tabindex="0" @onkeydown="KeyDown">
            <HeaderBar AncestorComponent="this" />

            <ToastNotification />

            <GameBoard AncestorComponent="this" @ref="_gameBoard" />

            @if (_showStats)
            {
                <Modal Title="@LocalizationService["StatsTitle"]" OnCloseCallback="@CloseStats">
                    <StatsDialog />
                </Modal>
            }
        </div>
       

         <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
        <label for="menu-icon"></label>
        <nav class="nav">
            <ul class="pt-5">
            <li><a href="#" @onclick="() => ShowStats()">Statistics</a></li>
                <li><a href="#">Social Media</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>

        <input class="help-icon" type="checkbox" id="help-icon" name="help-icon" />
        <label for="help-icon"></label>
        <nav class="helpNav">
            <div class="bodyCards">
                <section class="containerCards">
                    <span class="contextInside">
                       
                        <img class="imgCard" src="./imgs/1.png">
                        
                    </span>
                <span class="contextInside">
                    <img class="imgCard" src="./imgs/2.png">
                    </span>
                    <span class="contextInside">
                        <img class="imgCard" src="./imgs/3.png">
                    </span>
                </section>
            </div>
            
        </nav>

        <a  class="logo">
            <img src="images/darkwt.png" alt="WORDTRICK">
        </a>
   
    </body>
</html>

